@media screen and (max-width: 600px) {
	.chat-bar-position {
		position: fixed;
		bottom: 40px;
		left: 20px;
	}

	.chat-log-position {
		position: fixed;
		bottom: 80px;
		left: 20px;
	}

	.chat-btn-position {
		position: fixed;
		bottom: 42px;
		right: 20px;
	}

	.chat-input-style {
		font-family: "Courier New", Courier, monospace;
		font-size: 16px;
		line-height: 1.8;
		border: 1px solid gray;
		border-radius: 4px;
		padding-left: 6px;
		padding-right: 6px;
		width: 270px;
	}
	.chat-output-style {
		font-family: "Courier New", Courier, monospace;
		font-size: 16px;
		line-height: 1.5;
		padding-left: 6px;
		padding-right: 6px;
		opacity: 1;
	}
	.responsive-only {
		display: block;
		visibility: visible;
	}
}