
* {
	margin: 0;	
	padding: 0;
}
textarea,
input.text,
input[type="file"],
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	cursor: pointer;
}


.responsive-only {
	display: none;
	visibility: hidden;
}

.btn {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	border: none;
	border-radius: 4px;

	padding: 4px 6px 4px 6px;

	background-color: pink;
	box-shadow: 2px 2px 2px gray;
}